<div class="card article_publication nested-fields"> <%# https://github.com/nathanvda/cocoon#partial-1 %>
  <div class="card-content">
    
    <%# https://stackoverflow.com/a/17176225/4906586 %>
    <%#= f.fields_for :article do |article_form| %>
      <div class="card-header">
        <%#= article_form.text_field :name, placeholder: :Name %>
        <%= f.collection_select(:article_id, Article.all, :id, :name, {prompt: true}, {required: true}) %>
      </div>
      <%#
      <div class="card-body">
        <%#= article_form.text_area :description, placeholder: :Description >
      </div> %>
    <%# end %>
    <div class="card-footer">
      <%= link_to_remove_association t('articles.crud.remove'), f %>
    </div>
  </div>
</div>