<div class="card-container">
  <%= render @catalogs %>
</div>

<div class="button-row">
  <%= create_catalog_link %>
  
  <%= button_to articles_path, method: :get  do %>
      <span><i class="fas fa-bone"></i><%= t('articles.crud.list') %></span>
  <% end %>
</div>