---
layout: default
---

<div id="page-menu-toggler" class="mobile-only"
  onclick="document.getElementById('page-container').classList.toggle('show-menu');">
  Navigation
</div>

<div id="page-container" class="content">
  <div id="page-menu">
    {% for kx in site.data.kx %}
    <nav class="page-nav-group">
      <h4>{{ kx.name }}</h4>
      <div class="page-nav-links">
        {% for art in site[kx.collection] %}
        <a href="{{ art.url | relative_url }}" class="page-nav-link {% if page.url == art.url %}active{% endif %}">
          {{ art.title }}
        </a>
        {% endfor %}
      </div>
    </nav>
    {% endfor %}
  </div>

  <div id="page-content">
    <h1>{{ page.title }}</h1>

    {{ content }}

    <hr />

    {% for tag in page.tags %} 
    <span class="article-tag">{{ tag }}</span> 
    {% endfor %} 

    <div />

    {% if page.mentioned.size %}
      <p>Mentionned:</p>
      <ul>
        {% for post_id in page.mentioned %} 
          {% assign post = site.posts | where: "id", post_id | first %} 
          {% if post %}
          <li>
            <a href="{{ post.url | relative_url }}" >{{ post.date | date_to_string }} {{ post.title }}</a >
          </li>
          {% endif %} 
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
