// Theme related stuff: colours and stuff
// https://www.canva.com/learn/100-color-combinations/
// // Primary: Watery Blue-Greens
// $colorPrimaryDark: #004445; // Watery Blue-greens: cadet blue
// $colorPrimary: #2C7873; // Watery blue-greens: rain
// // Secondary: FResh greens
// $colorSecondaryDark: #265C00;
// $colorSecondary: #68A225;
$colorPrimary: #764abc;
$colorSecondary: teal;
$colorFontLight: #717171;

// Sizing
$contentWidth: 1400px;
$subMenuWidth: 250px;
$headerHeight: 50px;